/* www.nodo50.org/xega */

body	{
	margin: 0px;
	padding: 0px;
	background-color: #fdf;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
	}
#entitulau	{
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 10px;
		background-color: #fff;
		border: #000 1px dotted;
		font-size: 16px;
		}
div.menu_xeneral	{
			margin-top: 10px;
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 10px;
			padding-top: 2px;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 2px;
			background-color: #dbd;
			border: #000 1px dotted;
			}
div.menu_testu	{
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 0px;
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		background-color: #dbd;
		border-top: #000 1px dotted;
		border-left: #000 1px dotted;
		border-right: #000 1px dotted;
		border-bottom: 0px;
		}
div.testu	{
		margin-top: 0px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 10px;
		background-color: #fff;
		border: #000 1px dotted;
		font-size: 12px;
		text-align: justify;
		}
a	{
	color: #000;
	text-decoration: none;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: #000 1px dotted;
	}
a:hover	{
	color: #000;
	text-decoration: none;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: #000 1px solid;
	}
a.enllaz_menu		{
			font-weight: normal;
			text-decoration: none;
			border: 0px;
			}
a.enllaz_menu:hover	{
			font-weight: bold;
			text-decoration: none;
			border: 0px;
			}
a.imax		{
		border: 0px;
		}
a.imax:hover	{
		border: 0px;
		}
table.llista	{
			margin-top: 0px;
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 0px;
			border: #000 1px dotted;
			}
th.llista	{
			border-top: 0px;
			border-left: 0px;
			border-right:0px;
			border-bottom: #ece 1px dotted;
			padding-top: 2px;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 2px;
			background-color: #fff;
			font-size: 12px;
			font-weight: normal;
			text-decoration: none;
			}
td.llista	{
			border-top: 0px;
			border-left: 0px;
			border-right:0px;
			border-bottom: #ece 1px dotted;
			padding-top: 2px;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 2px;
			background-color: #fff;
			font-size: 12px;
			font-weight: normal;
			text-decoration: none;
			}